

*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif ;

}
/*-----navbar----*/
.navbar{
    display: flex;
    align-items:center;
   padding: 20px;
   position: relative;
   z-index: 2;
   flex-wrap: wrap;
}


nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;  
}
nav  i{
    display: inline-flex;
  color: black;
  margin-left: 20px;
}
a{
    text-decoration: none;
    color: grey;
}
p{
  
    font-size: 30px;
    color: #8d4c55;
}
.container{
    max-width: 1300px;
    
    margin:  auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content:flex-start;
}
.row h1{

    color: #d07e7c;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
   
}


.col-2 img{
    align-self:flex-end;
    max-width: 100%;
    padding: 50px 0;

}
.col-2 h1{
    font-size: 55px;
    line-height: 65px;
    margin: 10px 0;
}
.button{
    display: inline-block;
    background:rgb(196, 64, 163);
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius:30px ;
    transition: all 0.3s ease;
  

}

.button:hover{
background: #563434;


}
.header{
    background: radial-gradient(white,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}

/*featured categories*/
.categories{

margin: 70px 0;
}

.col-3{
 flex: 0 0 auto;           
  text-align: center;
}


.col-3 img{
     width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}
.small-container{
    max-width: 1200px;
    margin: auto;
   padding-left: 25px;
   padding-right: 25px;
}
/*---featured products----*/
.categories .row{
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap; 
  overflow-x: auto;  
}
.col-4{

flex-basis: 25%;
padding: 10px;
min-width: 200px;
margin-bottom: 50px;
transition: all 0.5s ease;


}
.col-4 img{
 width: 100%;   
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:  #d07e7c;
}

.title::after{
 content: '';  
 background: #8d4c55;
 width: 80px;
 height: 5px;
 border-radius: 5px;
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
}

h4{
color: #a12f72fa ;
font-weight: normal;

}
.col-4 p{

font-size: 14px;

}
.rating {

color: #6a1772;

}
.col-4:hover{
transform: translateY(-5px);

}

.Deal{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .deal-img{
    padding: 50px;

}
small{
    color:  #d63e9763;
}


/*------footer-------*/
.footer{
    
    background: black;
    color: grey;
    font-size:14px;
    padding: 60px 0 20px;

}
.footer p{
    color: grey;
  font-size: 20px;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 250px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
 flex-basis: 12%;   
 text-align: center;

}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo i{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
ul li{
  height: 50px;
}


.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
z-index: 1100;
}

/*-----------all products page ---------*/

.row-2{
    justify-content: space-between;
    margin:  100px auto 50px;
}
select{
    border: 1px solid #af65a9;
}
 select:focus{
    outline: none;
 }
.page-button{
    margin: 0 auto 80px;

}
.page-button span{
    display: inline-block;
    border: 1px solid #af65a9;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-button span:hover{
    background-color: #af65a9;
    color: white;
}



/*-----product details------*/

.single-product{
    margin-top: 60px;
}
.single-product .col-2 img{
    padding: 0;
   
}
.single-product .col-2 {
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #af65a9;
}
input:focus{
    outline: none;
}
.single-product p{
    font-size: 20px;
}
.single-product .fa{
    color:#af65a9 ;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
 flex-basis: 24%;
 cursor: pointer;   
}

/*--------cart items--------*/

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse:collapse ;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
.cart-info p{
    font-size: 20px;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #af65a9;
    font-weight: normal;

}
td{
    padding: 10px 5px ;
   
}
 td small{
    color: #6a1772
    
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: black;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #af65a9 ;
width: 100%;
max-width: 350px;
}
td:last-child{
text-align: right;
}
th:last-child{
    text-align: right;
}
.form-container{
    background:white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;

}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-button{
    display: inline-block;

}


.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc
}
form .button{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .button:focus{
    outline: none;
}
#LoginForm{
    left: -300px;

}
#RegistrationForm{
    left: 0;

}
form a{
    font-size: 12px;
}

#Indicator{
    width: 100px;
    border: none;
    background: #8d4c55;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}


/*-----account-page--------*/

.account-page{
    padding: 50px 0;
   background: radial-gradient(white,#ffd6d6);
}
.contact-page{
    padding: 50px 0;
   background: radial-gradient(white,#ffd6d6);
}

/* Ειδικά για το contact form container */
.contact-form-container {
  background: white;
  width: 320px;
  min-height: 460px;
  position: relative;
  text-align: center;
  padding: 20px 20px 40px 20px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  overflow: visible; 
  border-radius: 8px;
}

/* Τίτλος */
.contact-form-container h2 {
  margin-bottom: 20px;
  color: #080707;
  font-weight: 600;
  
}

/* Κρυφό μήνυμα success by default */
#successMsg {
  display: none;
  color: rgb(128, 0, 117);
  margin-bottom: 15px;
  font-weight: 600;
}

/* Inputs & textarea */
.contact-form-container input,
.contact-form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 0;
  border: 1px solid #ccc;
  resize: vertical;
  font-size: 14px;
  border-radius: 4px;
}

/* Κουμπί */
.contact-form-container .button {
  width: 100%;
  background-color: #af65a9;
  color: white;
  border: none;
  padding: 12px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}
.contact-form-container .button:hover {
  background-color: #a36268;
}
.about-page {
  padding: 60px 0;
  background: radial-gradient(white, #ffd6d6);
}

.about-container {
  background: white;
  padding: 30px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 10px;
  text-align: left;
  max-width: 600px;
}

.about-container h2 {
  margin-bottom: 20px;
  color: #8d4c55;
  font-size: 28px;
  font-weight: 600;
}

.about-container p {
  font-size: 16px;
  color: #333;
  line-height: 1.8;
}
@media (max-width:800px) {
    nav ul{
        position:absolute;
        top:100%;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        z-index: 1000;
     
    }
nav ul li{
    display: block;
    margin-right: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}
nav ul li a{
    margin: 10px 0;
    display: block;
    color: white;

}
.menu-icon{
    display: block;
    cursor: pointer;
    z-index: 1100;
}

}
@media (max-width:600px){
.row{
    text-align: center;
    flex-direction: column;
}
.col-2, .col-3, .col-4{
    flex-basis: 100%;
}
.single-product .row{
    text-align: left;
}
.single-product .col-2{
    padding: 20px 0;
}
.single-product h1{
    font-size: 26px;
    line-height: 22px;
}

.cart-info p{
    display: none;
}

}
