@page "/about"

<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="/"><img src="images/logo2.png" width="300px"></a>
        </div>

        <nav>
            <ul id="MenuItems">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/account">Account</a></li>
            </ul>
        </nav>

        <a href="/cart">
            <img src="images/cart.png" width="30px" height="30px">
        </a>
    </div>
</div>

<div class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="images/about-us.jpg" width="100%">
            </div>

            <div class="col-2">
                <div class="about-container">
                    <h2>About Us</h2>
                    <p>
                        Welcome to Aurora Jewelry. Our mission is to bring timeless beauty into your life
                        with our carefully crafted jewelry collections.
                        <br><br>
                        Since our founding, we've been dedicated to using quality materials, skilled
                        craftsmanship, and personalized service to help you celebrate life's most meaningful moments.
                        <br><br>
                        Whether you're looking for an elegant gift, a custom engagement ring,
                        or a unique accessory, we are here to make every experience special.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <hr>
        <p class="copyright">Copyright 2025 - Aurora Jewelry</p>
    </div>
</div>

